
.showcase{
    width: 11%;
    height: 10%;
    position: relative;
    background-color: #e90000;
}

.title{
    width: 100%;
    height: 100%;
    background-color: #000000;
    font-size: 50px;
    color: #efff;
    mix-blend-mode: multiply;
}

.navbar{

display: block;
padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
font-size: var(--bs-nav-link-font-size);
font-weight: var(--bs-nav-link-font-weight);
color: var(--bs-nav-link-color);
text-decoration: none;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
color: rgba(0, 0, 0, 0.878);
font-size: 25px;
background-color: #e71515;
border-radius: 20px;
margin-right: var(--bs-navbar-nav-link-padding-x);
margin-left: var(--bs-navbar-nav-link-padding-x);
padding-right: var(--bs-navbar-nav-link-padding-x);
padding-left: var(--bs-navbar-nav-link-padding-x);
}

.nav{
    gap: 100px;
}
